@font-face {
    font-family: Lato;
    src: url(./Fonts/Lato2OFL/Lato2OFL/Lato-Regular.ttf);
}

@font-face {
    font-family: Karla;
    src: url(./Fonts/Karla/karla.regular.ttf);
}


.Backbone {
    font-family: Lato;
    text-align: center;
    font-size: 2vw;
}

.Page-wrap {
    height: 100vh;
    width: 100vw;
}

.BB-body {
    background-color: #9EDFE6;
    height: 85vh;
    width: 85vw;
    border-radius: 5vh;
    margin: 4vh 7.5vw 0vh 7.5vw;
  
}

.BB-header {
    margin: 4vh 0 2vh;
    height: 10%;
    width: 100%;
    font-family: Karla;
    
}

.BB-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    margin: 4vh 2vw;

    flex-direction: row;
}

.Form {
    align-items: center;
    height: 30vh;
}

.Arrow {
    height:3vh;
    background-color: transparent;
    border: none;
    margin: 0;
}

.Arrow img {
    height: 100%;
}

.Content-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Content-box {
    background-color: white;
    border-radius: 5vh;
    margin: 3vh 1vh;
    padding: 2% 4%;
}

.Content-list-box {
    background-color: white;
    border-radius: 5vh;
    margin: 1vh;
    padding: 0;
    line-height: 10vh;
}


.Main-content {
    align-self: center;
    display: inline-block;
    width: 70%;
    max-height: 60vh;
    min-height: 50vh;
    margin: 2vh;
}

.Main-graphic {
    width: 100%;
}

.Main-graphic-wrap {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Title {
    width: 70vw;
    margin: -2vh 10vw 2vh;
}

.Drop-down {
    background-color: #ECECEC;
    width: 60%;
    margin: 0 10%;
    padding: 1% 10%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.Side-column {
    display: inline-block;
    height: 100%;
    width: 15vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Graphic {
    width: 10vw;
    /* width: 10vw; */
    margin: 5vh 2.5vw;
    /* background-color: white; */
}

img {
    margin: 2vh;
}

li {
    text-align: left;
    list-style-position: inside;
    list-style-type: square;
    text-indent: -1em;
    padding-left: 1em;

    line-height: 200%;
}


.LM-button {
    background-color: lightslategray;
    color: white;
    min-height: 8vh;
    max-height: 10vh;
    min-width: 10vw;
    max-width: 12vw;
    border-radius: 2vh;
    padding: 1.5%;
    text-align: center;
    font-family: Lato;
    margin: 2vh 2vw;
}

.Column {
    height: 100%;
    width: 25vw;
    margin: 5vh 2.5vw;
    box-sizing: border-box;
    padding: 1% 2%;
}

.Column H4 {
    line-height: 1.5em;
}

.H-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.V-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.Circle {
    height: 40vh;
    width: 40vh;
    border-radius: 40vh;
    margin: 5vh;
    background-color: gray;
}


.Cover {
    overflow: hidden;
    background-color: white;
    height: 98vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    /*temp fix, idk what is wrong with this*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Cover li {
    font-size: 80%;
}

.Close {
    position: absolute;
    z-index: 1;
    right: 2vw;
    top: 2vh;
    height: 3vh;
}

.Row {
    display: block;
}

.Progress {
    margin-top: 30vh;
}