@font-face {
    font-family: Lato;
    src: url(./Fonts/Lato2OFL/Lato2OFL/Lato-Regular.ttf);
}

@font-face {
    font-family: Karla;
    src: url(./Fonts/Karla/karla.regular.ttf);
}


.Backbone {
    font-family: Lato;
    text-align: center;
}

.BB-body {
    background-color: #9EDFE6;
    height: 85vh;
    width: 85vw;
    border-radius: 5vh;
    margin: 0vh 7.5vw 1vh 7.5vw;
}

.BB-header {
    margin: 4vh 0;
    height: 10%;
    width: 100%;
    font-family: Karla;
    
}

.BB-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    align-items: center;
}

.Arrow {
    height:3vh;
    background-color: transparent;
    border: none;
    margin: 0;
}

.Arrow img {
    height: 100%;
}

.Content-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Content-box {
    background-color: white;
    border-radius: 5vh;
    margin: 3vh 1vh;
    padding: 2% 4%;
}

.Content-list-box {
    background-color: white;
    border-radius: 5vh;
    margin: 1vh;
    padding: 0;
    line-height: 10vh;
}


.Main-content {
    align-self: center;
    display: inline-block;
    width: 60%;
    height: 50vh;
    margin: 2vh;
}

.Main-graphic {
    width: 100%;
    margin: 2vh;
}

.Main-graphic-wrap {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Title {
    width: 70vw;
    margin: 13vh 10vw 0;
}

.Drop-down {
    background-color: #ECECEC;
    width: 60%;
    margin: 0 10%;
    padding: 1% 10%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.Side-column {
    display: inline-block;
    height: 100%;
    width: 15vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Graphic {
    width: 10vw;
    /* width: 10vw; */
    margin: 5vh 2.5vw;
    /* background-color: white; */
}

img {
    margin: 2vh;
}

li {
    text-align: left;
    list-style-position: inside;
    list-style-type: square;
    text-indent: -1em;
    padding-left: 1em;

    line-height: 200%;
}


.LM-button {
    background-color: lightslategray;
    color: white;
    width: 10vw;
    border-radius: 2vh;
    padding: 3%;
    text-align: center;
}

.Column {
    height: 55vh;
    width: 20vw;
    margin: 5vh 2.5vw;
    box-sizing: border-box;
    padding: 1% 2%;
}

.Column H4 {
    line-height: 1.5em;
}

.Row {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: 5vh 5vw;
    height: 15vh;
    align-items: center;
    align-content: space-between;
}

.Circle {
    height: 40vh;
    width: 40vh;
    border-radius: 40vh;
    margin: 5vh;
    background-color: gray;
}

.Learn-more {
    background-color: pink;
    /* position: fixed; */
    top: 0;
    z-index: 4;
}

.Cover {
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
   overflow: hidden;

}

.Close {
    position: absolute;
    z-index: 1;
    right: 2vw;
    top: 2vh;
    height: 3vh;
}